
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--focus-outline: 3px solid #2ef;
}

*:focus {
	outline: var(--focus-outline);
}

html {
	font-family: Neuton, sans-serif;
	font-size: 20px;
	color: #eee;
	background: #3d4c63;
	background: linear-gradient(
		to bottom right,
		#7194c8,
		#2e3b4e 60%
	) fixed;
}

a {
	opacity: 0.9;
	color: #aeffd7;
	text-decoration: none;
}

a:hover, a:focus {
	opacity: 1;
	text-decoration: underline;
}

body {
	padding: 2em 4em;
}

@media (max-width: 480px) {
	body {
		padding: 0.2em 0.4em;
	}
}

body > * + * {
	margin-top: 2em;
}

body > header h1 {
	font-size: 3em;
	line-height: 0.8em;
}

body > header h1 span {
	font-weight: normal;
	opacity: 0.8;
	font-size: 0.8em;
}

body > header p {
	padding-left: 0.2em;
}

main ol, main ul {
	padding-left: 2em;
}

main > * + *, body > header > * + * {
	margin-top: 1em;
}

tubby-youtube-explorer {
	--focus-outline: 2px solid #0ef;
	--tubby-search-focus-outline-offset: -4px;
	--tubby-pending-bg: rgba(0,0,0, 0.2);
	--tubby-error-bg: rgba(128,0,0, 0.2);
	--tubby-pending-color: white;
	--tubby-error-color: yellow;
	--tubby-search-icon-color: rgba(0,0,0, 0.5);
	--tubby-grid-bg: rgba(0,0,0, 0.2);
	--tubby-video-color: white;
	--tubby-video-bg: linear-gradient(to bottom right,
		rgba(25,25,25, 0.95) 32%,
		rgba(25,25,25, 0.6)
	);
}
